/* /root */
h1 { font-family: Arial, Helvetica, sans-serif; }

/* /home */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 10px 20px; /* Aumentamos el padding para hacerlo más grueso */
    text-align: left;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

main {
    padding: 20px;
}

h1, h3 {
    margin-top: 0;
    text-align: center;
}

.box {
    width: 99%;
    padding: 10px;
    border: 1px solid #b6b6b6;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
}

.box img {
    width: 200px; /* Ajustamos el tamaño de la imagen */
    height: auto;
    margin: 0 auto 10px; /* Centramos horizontalmente */
    display: block;
}

.user-button {
    background-color: #00C4B3;
    color: #fff;
    border: 2px solid #00C4B3; /* Borde verde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold; /* Texto en negrita */
    margin: 0 auto 10px; /* Centrar horizontalmente con margen inferior */
}

.admin-button {
    color: #00C4B3; /* Texto verde */
    background-color: #fff;
    border: 2px solid #00C4B3; /* Borde verde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold; /* Texto en negrita */
    margin: 0 auto 10px; /* Centrar horizontalmente con margen inferior */
}

/* /user */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 5px 0;
    text-align: left;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra alrededor */
}

.logo img {
    height: 50px;
    text-align: left;
}

main {
    padding: 20px;
}

.h1-user{
    margin-top: 0;
    text-align: left;
}

.h3-user{
    margin-top: 0;
    text-align: left;
}

.box {
    width: 99%;
    padding: 10px;
    border: 1px solid #b6b6b6;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px; /* Añadido */
}

.box-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacio entre el contenido y el botón */
    width: 100%;
}

.box-content strong {
    margin-right: 20px;
    margin-left: 5px;
}

.view-button {
    background-color: #00C4B3;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px; /* Ajustar el tamaño del botón */
    font-size: 14px; /* Tamaño de fuente más pequeño */
    cursor: pointer;
    border: none;
    margin-left: auto; /* Empuja el botón a la derecha */
    display: flex;
    align-items: center; /* Asegura la alineación vertical */
    height: 100%; /* Para asegurarse de que ocupe toda la altura de la caja */
}

.view-button:hover {
    background-color: #04867b;
}

.text-area-container {
    display: none; /* Oculto por defecto */
    width: 100%;
    margin-top: 10px;
}

.confirm-button {
    background-color: #00C4B3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    display: block;
    margin: 0 auto 10px; /* Centrar horizontalmente con margen inferior */
}

.confirm-button:hover {
    background-color: #04867b;
}


/* /admin */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 5px 0;
    text-align: left;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra alrededor */
}

.logo img {
    height: 50px;
    text-align: left;
}

main {
    padding: 20px;
}

h1, h2 {
    margin-top: 0;
}

.new-area-button {
    background-color: #00C4B3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    float: right; /* Alinea el botón a la derecha */
    margin-bottom: 10px; 
}


.new-area-button:hover {
    background-color: #04867b;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px; /* Bordes redondos */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra alrededor */
}


th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.view-button {
    background-color: #00C4B3;
    color: #fff;
    border-radius: 5px;
}

.view-button:hover {
    background-color: #04867b;
}

.edit-button {
    border: 2px solid #00C4B3; 
    background-color: #fff;
    color: #00C4B3;
    border-radius: 5px;
}

.edit-button:hover {
    border: 2px solid #04867b; 
    color: #04867b;
    border-radius: 5px;
}

.delete-button {
    border: 2px solid #E31D41; 
    background-color: #fff;
    color: #E31D41;
    border-radius: 5px;
}

.delete-button:hover {
    border: 2px solid #c11a39; 
    color: #c11a39;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    top: 50%;  /* Centrar verticalmente en relación con la pantalla */
    left: 50%;  /* Centrar horizontalmente en relación con la pantalla */
    transform: translate(-50%, -50%);  /* Ajuste fino para centrar exactamente */
    z-index: 1000;  /* Asegurar que esté encima de otros elementos */
}

sl-popup[active] {
    display: block;
}

.popup-content {
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;  /* Ancho del pop-up, ajusta según sea necesario */
    max-width: 80%; /* Máximo ancho del pop-up para dispositivos grandes */
    margin-left: auto; /* Centrar horizontalmente */
    margin-right: auto; /* Centrar horizontalmente */
}

.popup-content h3 {
    margin-top: 0;
}

.popup-content form {
    display: flex;
    flex-direction: column;
}

.popup-content label {
    margin: 10px 0 5px;
}

.popup-content input[type="text"],
.popup-content input[type="email"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.form-buttons button {
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.form-buttons button[type="cancel"] {
    border: 2px solid #00C4B3; 
    background-color: #fff;
    color: #00C4B3;
    border-radius: 5px;
}

.form-buttons button:hover[type="cancel"] {
    border: 2px solid #04867b; 
    color: #04867b;
    border-radius: 5px;
}

.form-buttons button[type="accept"] {
    background-color: #00C4B3;
    color: #fff;
    border-radius: 5px;
}

.form-buttons button:hover[type="accept"] {
    background-color: #04867b;
}

.form-buttons button[type="delete"] {
    background-color: #E31D41;
    color: #fff;
    border-radius: 5px;
}

.form-buttons button:hover[type="delete"] {
    background-color: #c11a39;;
}

.form-buttons button:hover {
    opacity: 0.9;
}


/* DETALLE CSS*/
/* Estilos para el botón de descargar PDF */
/* Estilos para el botón de descargar PDF */
/* Contenedor para los botones */
/* Contenedor para los botones */
.buttons-container {
    display: flex; /* Usa flexbox */
    justify-content: flex-end; /* Alinea los elementos al final del contenedor (a la derecha) */
    width: 100%; /* Ocupa todo el ancho disponible */
    margin-top: 10px; /* Margen superior para separación */
}

/* Estilos para el botón de descargar PDF */
.pdf-button {
    background-color: #00C4B3; /* Fondo verde */
    color: white; /* Texto blanco */
    margin-right: 10px; /* Espacio a la derecha para separación */
    border: 2px solid #00C4B3; /* Borde verde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 8px 16px; /* Padding interno */
    margin-bottom: 10px;
    text-decoration: none; /* Quita subrayado */
    font-weight: bold; /* Texto en negrita */
    float: right; /* Alinea el botón a la derecha */
}

.pdf-button:hover {
    background-color: #04867b; /* Cambio de color al pasar el ratón */
    border-color: #04867b; /* Cambio de color del borde */
}

/* Estilos para el botón de volver */
.back-button {
    color: #00C4B3; /* Texto verde */
    background-color: #fff;
    border: 2px solid #00C4B3; /* Borde verde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 8px 16px; /* Padding interno */
    margin-bottom: 10px;
    text-decoration: none; /* Quita subrayado */
    font-weight: bold; /* Texto en negrita */
    float: right; /* Alinea el botón a la derecha */
}

.back-button:hover {
    border: 2px solid #04867b; 
    color: #04867b;
    border-radius: 5px;
}
