body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 5px 0;
    text-align: left;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra alrededor */
}

.logo img {
    height: 50px;
    text-align: left;
}

main {
    padding: 20px;
}

h1, h3 {
    margin-top: 0;
    text-align: left;
}

.box {
    width: 99%;
    padding: 10px;
    border: 1px solid #b6b6b6;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px; /* Añadido */
}

.box-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacio entre el contenido y el botón */
    width: 100%;
}

.box-content strong {
    margin-right: 20px;
    margin-left: 5px;
}

.view-button {
    background-color: #00C4B3;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px; /* Ajustar el tamaño del botón */
    font-size: 14px; /* Tamaño de fuente más pequeño */
    cursor: pointer;
    border: none;
    margin-left: auto; /* Empuja el botón a la derecha */
    display: flex;
    align-items: center; /* Asegura la alineación vertical */
    height: 100%; /* Para asegurarse de que ocupe toda la altura de la caja */
}

.view-button:hover {
    background-color: #04867b;
}

.text-area-container {
    display: none; /* Oculto por defecto */
    width: 100%;
    margin-top: 10px;
}

.confirm-button {
    background-color: #00C4B3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    display: block;
    margin: 0 auto 10px; /* Centrar horizontalmente con margen inferior */
}

.confirm-button:hover {
    background-color: #04867b;
}


